doctype html
html
  head
    title DanceFusion Academy
    
    block style 
  body
    nav#navbar
      ul
        div#log
          img(src="../static/img/logo.jpg", alt="logo")
          | DFA 
        li: a(href="/") Home
        li: a(href="/") About
        li: a(href="/") Services
        li: a(href="/") Class Info
        li: a(href="/") Contact
        
    block content
    footer#footer
        | Copyright &copy; 2024 DanceFusionAcademy.com | All rights reserved
