extends base.pug

block style 
  style
    include ../static/styleclassinfo.css
    include ../static/style.css

block content
  div.container
    h1 Class Information
    p At DanceFusion Academy, we offer a variety of dance classes tailored to suit all ages and skill levels. Whether you are a beginner looking to explore the world of dance or an experienced dancer aiming to refine your technique, we have something for everyone. Our classes are designed to be engaging, energetic, and, most importantly, fun! Here's a glimpse of what you can expect:

    div.content 
      h3 Beginner Classes
      p 
        strong Time: 
        |  Monday & Wednesday, 5:00 PM - 6:00 PM 
      p Perfect for those new to dance, these classes focus on building a strong foundation in various dance styles. You'll learn basic steps, rhythms, and movements, all while gaining confidence on the dance floor.

    
      h3 Intermediate Classes
      p 
        strong Time: 
        |  Tuesday & Thursday, 6:30 PM - 7:30 PM 
      p For dancers with some experience, our intermediate classes help you advance your skills. You'll work on more complex routines, improve your technique, and explore new dance styles.

    
      h3 Advanced Classes
      p 
        strong Time: 
        |  Friday, 7:00 PM - 8:30 PM  
      p Designed for seasoned dancers, these classes push your abilities to the next level. You'll engage in challenging choreography, perfect your performance skills, and prepare for competitions or performances.

    
      h3 Kids’ Classes
      p 
        strong Time: 
        |  Saturday, 10:00 AM - 11:00 AM 
      p Our kids' dance classes are a great way for young dancers to explore their creativity, develop coordination, and build self-confidence. With a fun and supportive environment, children will learn various dance styles while making new friends.

    
      h3 Adult Classes
      p 
        strong Time: 
        |  Monday & Wednesday, 7:30 PM - 8:30 PM 
      p Dance is for everyone, and our adult classes are tailored to provide a great workout while having fun. Whether you're looking to learn a new style, stay fit, or simply enjoy dancing, our adult classes are the perfect choice.

    
      h3 Specialty Classes
      p 
        strong Time: 
        |  Sunday, 2:00 PM - 3:30 PM 
      p From Hip-Hop to Ballet, Salsa to Contemporary, our specialty classes offer a deep dive into specific dance styles. These classes are ideal for dancers who want to focus on a particular genre or prepare for a performance.
