doctype html
html
  head
    title DanceFusion Academy
    
    block style 
  body
    nav#navbar
      ul
        div#log
          img(src="../static/img/logo.jpg", alt="logo")
          | DFA
           
        li: a(href="/") Home
        li: a(href="/about") About
        li: a(href="/service") Services
        li: a(href="/classInfo") Class Info
        li: a(href="/contact") Contact
        
    block content
    footer#footer
        | Copyright &copy; 2024 DanceFusionAcademy.com | All rights reserved | Md Faizan Ahmad
